/*----------------------------------- 
Base Styling
------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  position: relative;
  max-width: 1980px;
  margin: auto;
  margin: 50px auto 50px auto;
}

h1 {
  margin: 50px auto 50px 6%;
  color: rgb(74, 74, 74);
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 600;
}

/*----------------------------------- 
Modal
------------------------------------*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
}

.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/*----------------------------------- 
 Grid
------------------------------------*/

.grid-container {
  display: grid;
  max-width: 1700px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 25rem);
  grid-gap: 35px;
  align-content: space-evenly;
  margin: auto;
}

.card {
  height: 200px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
}

/*----------------------------------- 
 Card
------------------------------------*/

.card {
  overflow: auto;
  display: grid;
  grid-template-areas: "avatar text";
  align-content: space-evenly;
  align-items: center;
}

.card .avatar {
  float: left;
  border-radius: 50%;
  margin: auto;
  grid-area: avatar;
}

.card .text-container {
  float: right;
  display: inline-block;
  grid-area: text;
  line-height: 2em;
  word-break: break-all;
}

.card .name {
  color: rgb(64, 74, 81);
}

.card .text-container p {
  color: rgb(136, 142, 146);
}

/*----------------------------------- 
 Employees
------------------------------------*/

.modal {
  border: solid 1px rgb(223, 223, 223);
  border-radius: 5px;
}

.modal-close {
  border: none;
  background-color: transparent;
  margin: 10px 20px auto auto;
}

.modal-content .avatar {
  border-radius: 50%;
}

.modal-content h2 {
  color: rgb(64, 74, 81);
}

.modal-content .email {
  margin: 10px auto;
  color: rgb(138, 143, 147);
}

.modal-content hr {
  margin: 30px auto;
  width: 85%;
  color: rgb(138, 143, 147);
  font-weight: 100;
}

.modal-content p {
  line-height: 2em;
  color: rgb(138, 143, 147);
}
